/** { border: 1px solid black;}*/
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
    background-color: #fef8f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #332d26;
}

h1 {
    font-size: 3em;
    margin: 0.5em 0 0;
}

img {
    height: 7em;
}

a {
    margin: 2em auto 0.5em;
    text-decoration: none;
    color: #443c33;
}

a:hover {
    color: #2e2824;
}

.selection>div {
    align-items: center;
    height: 11em;
    width: 11em;
    background-color: #fef8f5;
    border-style: none;
}


.content>p,
.score>p {
    font-size: 1.1em;
    margin: 1em;
}

.content {
    flex-direction: column;
    align-items: center;
}

.content,
.selection,
.buttons,
.choice,
.selection>div,
#modal, #overlay {
    display: flex;
    justify-content: center;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    gap: 5em;
    text-align: center;
    align-items: center;
}

.score {
    width: 30em;
}

.selection {
    gap: 15em;
    margin: 1em auto;
}

.buttons {
    gap: 5em;
    padding: 1em 2em;
}

button>p,
.profile>p,
#currentScore,
h1, #restart {
    font-family: 'Gochi Hand', Arial, Helvetica, sans-serif;
}

#currentScore {
    font-size: 3em;
    margin: 0.5em 0 0;
}

button>p,
.profile>p {
    font-size: 1.5em;
    color: #443c33;
    margin: 0;
}

.choice {
    flex-direction: column;
    align-items: center;
    height: 12em;
    width: 12em;
    background-color: #e9d1c2;
    border-radius: 2em;
    border: 0.5px solid #bcab99;
}

.choice:hover {
    box-shadow: 2px 2px 10px #8a6239;
}

.choice>img {
    margin-bottom: 0.5em;
}

.profile {
    width: 7em;
}

.avatar {
    height: 3em;
}

i {
    margin-right: 0.2em;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(239, 221, 209, 0.75);
    z-index: 2;
    cursor: pointer;
}

#modal {
    flex-direction: column; 
    align-items: center;
    gap: 0.5em;
    position: relative;
    top: 35%;
    background-color: #e7ccbb;
    box-shadow: 2px 2px 5px #89776b;
    border-radius: 10px;
    border: 1px solid #a08b7d;
    width: 15em;
    margin: auto;
    height: 7em; 
    font-size: 1.1em;
    padding: 1em 0.75em;
}

#restart {
    color: #fff;
    box-shadow: 1px 1px 5px #332d26;
    background-color: #5b4f48;
    border: 1px solid #332d26;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 0.5em;
}